<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_floor0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,20}</string>
                <key>spriteSourceSize</key>
                <string>{100,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_floor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,20}</string>
                <key>spriteSourceSize</key>
                <string>{100,20}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ice_floor.png</string>
            <key>size</key>
            <string>{204,22}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5cd2fdbbc4a12965c6264d82e0d604c:7e02a936baba9ef13f1e0a5e1bd9320b:30eca856276a461c545e629f1ab40417$</string>
            <key>textureFileName</key>
            <string>ice_floor.png</string>
        </dict>
    </dict>
</plist>
