<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spring_floor0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,20}</string>
                <key>spriteSourceSize</key>
                <string>{100,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spring_floor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{100,14}</string>
                <key>spriteSourceSize</key>
                <string>{100,20}</string>
                <key>textureRect</key>
                <string>{{1,23},{100,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spring_floor.png</string>
            <key>size</key>
            <string>{102,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:785eb389d21b1d9f90b778d3e835319f:2ecc7d979dd308e24846cebe91a200d0:7994c60f0d818515b8f5e50c652b3445$</string>
            <key>textureFileName</key>
            <string>spring_floor.png</string>
        </dict>
    </dict>
</plist>
